[submodule "via-template/govuk_template_mustache"]
	path = via-template/govuk_template_mustache
	url = git@github.com:alphagov/govuk_template_mustache.git
[submodule "via-toolkit/govuk_frontend_toolkit"]
	path = via-toolkit/govuk_frontend_toolkit
	url = https://github.com/alphagov/govuk_frontend_toolkit.git
[submodule "via-template/govuk_frontend_toolkit"]
	path = via-template/govuk_frontend_toolkit
	url = https://github.com/alphagov/govuk_frontend_toolkit.git
