@import '_grid_layout';
@import '_conditionals';
@import '_colours';
@import '_typography';
@import 'design-patterns/_alpha-beta';

$path : "govuk_frontend_toolkit/images/";

/* Header */

.phase-tag  {
  @include phase-tag(alpha);
  vertical-align: baseline;
  top: -2px;
  margin-left: 2px;
  position: relative;
}


